/Apexa.BLL/bin
/Apexa.BLL/obj
/Apexa.IoC/bin
/Apexa.IoC/obj
/Apexa.REST/Apexa.REST.Service/bin
/Apexa.REST/Apexa.REST.Service/obj
/ApexaApp/bin
/ApexaApp/obj
/DataAccessTests/bin
/DataAccessTests/obj
/DataManagement/Apexa.DataAccess/bin
/DataManagement/Apexa.DataAccess/obj
/DataManagement/Apexa.DataContracts/bin
/DataManagement/Apexa.DataContracts/obj
/Services/Apexa.Services/bin
/Services/Apexa.Services/obj
/Support/bin
/Support/obj
